nav {
	margin: 10px auto 0;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	display: grid;
	width: 100%;
	grid-template-columns: 120px 120px 120px 120px 120px;
	align-items: start;
	justify-content: space-between
}
nav p.nav {
	line-height: 50px;
	height: 100%;
	font-size: 18px;
	display: grid;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
p.nav:nth-child(1) {
	width: 100px;
	align-self: left;
}
p.nav:nth-child(2) {
	width: 110px;
	align-self: right;
}
p.nav:nth-child(3) {
	width: 100px;
}
p.nav:nth-child(4) {
	width: 160px;
}
p.nav:nth-child(5) {
	width: 120px;
}
nav .start-home, p.nav:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, p.nav:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, p.nav:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, p.nav:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, p.nav:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
p.nav a:hover {
	text-decoration: none;
	color: rgb(93, 133, 254);
}
p.logo {
	display: grid;
	width: 100%;
	grid-template-columns: 120px 120px 120px;
	align-items: start;
	justify-items: stretch;
  	margin-bottom: 0px;
}
.logo h1 {
	text-overflow: ellipsis; 
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 40px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
	background-color: #fcfdfb;
	margin-top: 15px;
}
.nav a {
	color: rgb(242, 230, 230);
}
